/*=====================================================================
                  Project - Dima Soymchenko
=====================================================================*/
// fonts imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@font-face {
  font-family: "SF Pro Display";
  src: local("../fonts/San Francisco Pro Display Semibold"),
    local("../fonts/San-Francisco-Pro-Display-Semibold"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("../fonts/San Francisco Pro Display Medium"),
    local("../fonts/San-Francisco-Pro-Display-Medium"),
    url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff"),
    url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("../fonts/San Francisco Pro Display Regular"),
    local("../fonts/San-Francisco-Pro-Display-Regular"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// style imports
@import "_nullstyle";

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  // height: 100vh;
  min-height: 100%;
  overflow: hidden;
  background: url(../assets/development/left-corner-picture.png) no-repeat left
      top,
    url(../assets/development/right-corner-picture.png) no-repeat right top;
}

.development {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  align-items: center;
  // width: 100%;
  height: 100%;

  &__logo {
    width: 190px;
    height: 60px;
    margin: 0 auto;
  }

  &__title {
    padding-top: 93px;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162c4e;
    opacity: 0.39;
  }

  &__description {
    padding-bottom: 32px;
    padding-top: 8px;
  }

  &__description-text {
    max-width: 423px;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  &__timer {
    display: flex;
    max-width: 588px;
    width: 100%;
    height: 130.18px;
  }

  &__timer-item {
    position: relative;
    flex: 0 1 auto;
    max-width: 132px;
    width: 100%;
    height: 129px;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162c4e;
    text-align: center;
  }

  &__timer-item:first-child::after {
    content: "Days";
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54.12px;
    background: url(../assets/development/timer.png) no-repeat center / contain;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  &__timer-item:nth-child(2)::after {
    content: "Hours";
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54.12px;
    background: url(../assets/development/timer.png) no-repeat center / contain;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  &__timer-item:nth-child(2)::before {
    content: ":";
    position: absolute;
    left: -8px;
  }

  &__timer-item:nth-child(3)::after {
    content: "Minutes";
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54.12px;
    background: url(../assets/development/timer.png) no-repeat center / contain;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  &__timer-item:nth-child(3)::before {
    content: ":";
    position: absolute;
    left: -8px;
  }

  &__timer-item:last-child::after {
    content: "Seconds";
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54.12px;
    background: url(../assets/development/timer.png) no-repeat center / contain;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }

  &__timer-item:last-child::before {
    content: ":";
    position: absolute;
    left: -8px;
  }
}

.event {
  padding: 70px 0;

  &__text {
    text-align: center;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    padding: 0 20px 0 28px;
    background-color: #1d4169;
    border-radius: 40px;
  }

  &__arrow {
    cursor: pointer;
  }
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 192px;
  background-color: #162c4e;

  &__form {
    position: relative;
    display: block;
    width: 440px;
    height: 59px;
    margin-left: calc(50% - 220px);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px 27px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 150%;
  }

  &__input::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
  }

  &__form-btn {
    position: absolute;
    top: calc(50% - 22px);
    right: 7px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
  }

  &__form-arrow {
    display: block;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 111px;
    color: #ffffff;
    gap: 10px;
    width: 160px;
    height: 30px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(22, 44, 78, 0.6);
  // opacity: 0;
  // visibility: hidden;
  transition: all 0.2s ease 0s;

  // &.open {
  //   opacity: 1;
  //   visibility: visible;
  //   z-index: 2;
  //   transition: all 0.3s linear;
  // }

  &__body {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 370px;
    padding: 30px 10px;
    background: #ffffff;
    border-radius: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162c4e;
  }

  &__text {
    padding: 30px 0;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    color: rgba(0, 0, 0, 0.8);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: #1d4169;
    border-radius: 40px;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    transition: all 0.3s linear;
    cursor: pointer;
  }

  &__btn:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.5));
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.test {
  width: 100px;
  height: 500px;
}

@import "_media";
